body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.homepage-top {
    height: 10%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-bottom {
    height: 80%;
    display: flex;
}

.homepage-left, .homepage-right, .homepage-main {
    display: flex;
    padding-left: 3em;
    justify-content: center;
    align-items: center;
}

.homepage-left, .homepage-right {
    width: 20%;
    background-color: lightgreen;
}

.homepage-main {
    width: 60%;
    background-color: lightcoral;
}

.form-error {
    color: red;
}

.formatted-table {
    width: 100%;
}