body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section {
    flex: 0 0 25%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
}

.table-section {
    flex: 0 0 75%;
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    color: #555;
    text-align: left;
    margin: 0; /* Remove any default margin */
    line-height: 1.5; /* Ensure the line height aligns well with the button */
}

h3 {
    color: #666;
    text-align: left;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #999;
}

th, td {
    padding: 6px;  /* Reduced padding to make rows tighter */
    text-align: left;
}

th {
    background-color: #777;
    color: white;
}

tr:nth-child(even) {
    background-color: #dcdcdc;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.tag {
    display: inline-block;
    background-color: #f4f4f4;
    color: #555;
    padding: 3px 7px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 0.9em;
}

.button-container {
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    gap: 40px;
}

.back-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    color: white;
    background-color: #555;
    border-radius: 5px;
    text-decoration: none;
}

.back-button:hover {
    background-color: #777;
}

form {
    max-width: 100%;
    margin: 0 auto 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: vertical;
}

input[type="submit"],
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: #45a049;
}
