{% extends "base.html" %}
{% block content %}
<body>
    <h1>About Page</h1>
    <ol>
        <li></li>
        <li>Stratechery</li>
        <li>Matt Levine</li>
        <li>Miguel Grinberg</li>
        <li>Kevin Powell</li>
    </ol>
    
    <h2>Substacks</h2>
    <ol>
        <li>SemiAnalysis</li>
        <li>Understanding AI</li>
    </ol>

    <h2>Podcasts</h2>
    <ol>
        <li>BG2</li>
        <li>Invest with the best</li>
        <li>Art of Investing</li>
        <li>Matt Levine podcast</li>
    </ol>

    <h2>Youtube</h2>
    <ol>
        <li>Asionometry</li>
        <li>Practical Engineering</li>
        <li>Branch Education</li>
        <li>3Blue1Brown</li>
        <li>Real Engineering</li>
        <li>Scott Manley</li>
    </ol>

    <h2>Projects</h2>
    <ol>
        <li>Spheres</li>
        <li>Linux maganzines</li>
        <li>Raspberry pi</li>
        <li>Meta opensource AI / Hugging Face</li>
        <li>House organization app</li>
        <li></li>
    </ol>
</body>

{% endblock %}