{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}
{% block content %}

<div class="button-container">
    <a href="{{ url_for('homepage') }}" class="back-button">Back to Homepage</a>
</div>

<div class="container">
    <h2>Content</h2>
    {% if contents %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Type</th>
                <th>Creator</th>
                <th>Tags</th>
            </tr>
        </thead>
        {% for content in contents %}
            <tr>
                <td>{{ content.timestamp }}</td>
                <td><a href="{{ content.url }}" target="_blank" rel="noopener noreferrer">{{ content.title }}</a></td>
                <td>{{ content.content_type }}</td>
                <td>{{ content.content_creator }}</td>
                <td>
                    {% if content.tags %}
                        {% for tag in content.tags %}
                            <span class="tag">{{ tag.name }}</span>
                        {% endfor %}
                    {% endif %}
                    <a href="{{ url_for('edit_content', content_id=content.id) }}">Add Tag</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<script>
        document.addEventListener('DOMContentLoaded', () => {
        const dateElements = document.querySelectorAll('td:first-child'); // Adjust the selector as necessary
        dateElements.forEach(el => {
            const date = new Date(el.innerText);
            const formattedDate = `${date.getMonth() + 1}/${date.getDate()}/${date.getFullYear().toString().slice(-2)}`;
            el.innerText = formattedDate;
        });
    });

</script>
{% endblock %}