{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}

{% block content %}

    <div class="button-container">
        <a href="{{ url_for('posts') }}" class="back-button">Back to Posts</a>
    </div>
    
    <div class="container">
        <h2>{{ post.title }}</h2>
        <h3>{{ post.body }}</h3>

        <table>
            <thead>
                <tr>
                    <th>Tag</th>
                    <th>Applied</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                <tr>
                    <td><a href="{{ url_for('tag_post', post_id=post.id, tag_id=tag.id) }}">{{ tag.name }}</a></td>
                    <td>
                        {% if tag in post.tags %}
                        Y
                        {% else %}
                        <!-- Empty cell for no applied tag -->
                        {% endif %}
                    </td>
                    <td>
                        {% if tag in post.tags %}
                        <a href="{{ url_for('remove_tag', post_id=post.id, tag_id=tag.id) }}">Delete</a>
                        {% else %}
                        <!-- Empty cell for no delete link -->
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
