{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage_2025.css') }}">
{% endblock %}

{% block content %}

<div class="homepage-top">
    <div class="homepage-top-left">
        <ul>
            {% for bullet in bullets %}
            <li>{{ bullet }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="homepage-top-center-left">
        <h2><a href="{{ url_for('tags') }}">Tags</a></h2>
        {% include "_tagform.html" %}
    </div>
    <div class="homepage-top-center-right">
        <h2><a href="{{ url_for('predictions') }}">Predictions</a></h2>
        {% include "_predictionform.html" %}
    </div>
    <div class="homepage-top-right">
        <h2><a href="{{ url_for('weights') }}">Weights</a></h2>
        {% include "_weightform.html" %}
    </div>
</div>

<div class="homepage-bottom">
    <div class="homepage-left">
        <div class="form-holder">
            <h2>Add To-Do Item</h2>
            {% include "_taskform.html" %}
        </div>

        <div class="form-holder">
            <h2><a href="{{ url_for('posts') }}">Posts</a></h2>
            {% include "_postform.html" %}
        </div>
        <div class="form-holder">
            <h2>Add Person</h2>
            {% include "_personform.html" %}
        </div>
        <div class="form-holder">
            <h2><a href="{{ url_for('events') }}">Events</a></h2>
            {% include "_eventform.html" %}
        </div>

        <div class="form-holder">
            <h2><a href="{{ url_for('content') }}">Content</a></h2>
            {% include "_contentform.html" %}
        </div>
        <div class="form-holder">
            <h2>Add Workout</h2>
            {% include "_workoutform.html" %}
        </div>
    </div>

    <div class="homepage-main">
        <h2>To Do List</h2>
        {% if tasks %}
        <hr>
        <table class="formatted-table">
            <thead>
                <tr>
                    <th>Date Added</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Completed</th>
                    <th>Delete</th>
                </tr>
            </thead>
            {% for task in tasks %}
            <tr>
                <td>{{ task.timestamp.strftime('%m/%d').lstrip('0').replace('/0', '/') }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>
                    <form action="{{ url_for('update_task', task_id=task.id) }}" method="POST">
                        <button type="submit">{{ "✔" if task.completed else "___" }}</button>
                    </form>
                </td>
                <td><a href="{{ url_for('delete_task', task_id=task.id) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>    
        {% endif %}
    </div>
    <div class="homepage-right">
        {% if posts %}
            <h2><a href="{{ url_for('posts') }}">Posts</a></h2>
            <table class="formatted-table">
                {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.body }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
        
        {% if people %}
        <hr>
        <h2>People:</h2>
        <table class="formatted-table">
            {% for person in people %}
                <tr>
                    <td>{{ person.name }}</td>
                    <td>{{ person.entity }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        
        {% if contents %}
        <hr>
        <h2><a href="{{ url_for('content') }}">Content</a></h2>
        <table class="formatted-table">
            {% for content in contents %}
                <tr>
                    <td>{{ content.title }}</td>
                    <td>{{ content.content_type }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if events %}
        <hr>
        <h2><a href="{{ url_for('events') }}">Events</a></h2>
        <table class="formatted-table">
            {% for event in events %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.day }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if tags %}
        <hr>
        <h2>Tags</h2>
        <table class="formatted-table">
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.name }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}