{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}

{% block content %}

<div class="homepage-top">
    <h2>Top section</h2>
    <p>First row of info</p>
    <p>Second row of data</p>
    <p>Third row of content</p>
</div>

<div class="homepage-bottom">
    <div class="homepage-left">
        <div class="section">
            <h2>Add To-Do Item</h2>
            <form action="{{ url_for('add_task') }}" method="POST">
                {{ taskform.hidden_tag() }}
                <p>
                    {{ taskform.title.label }}<br>
                    {{ taskform.title }}
                    {% for error in taskform.title.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ taskform.description.label }}<br>
                    {{ taskform.description }}
                    {% for error in taskform.description.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ taskform.submit() }}</p>
            </form>
        </div>

        <div class="section">
            <h2>Add Post</h2>
            <form action="{{ url_for('add_post') }}" method="POST">
                {{ postform.hidden_tag() }}
                <p>
                    {{ postform.title.label }}<br>
                    {{ postform.title }}
                    {% for error in postform.title.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ postform.body.label }}<br>
                    {{ postform.body }}
                    {% for error in postform.body.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ taskform.submit() }}</p>
            </form>
        </div>

        <div class="section">
            <h2>Add Person</h2>
            <form action="{{ url_for('add_person') }}" method="POST">
                {{ personform.hidden_tag() }}
                <p>
                    {{ personform.name.label }}<br>
                    {{ personform.name }}
                    {% for error in personform.name.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ personform.birthday.label }}<br>
                    {{ personform.birthday }}
                    {% for error in personform.birthday.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ personform.entity.label }}<br>
                    {{ personform.entity }}
                    {% for error in personform.entity.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ personform.bio.label }}<br>
                    {{ personform.bio }}
                    {% for error in personform.bio.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ personform.submit() }}</p>
            </form>
        </div>

        <div class="section">
            <h2>Add Event</h2>
            <form action="{{ url_for('add_event') }}" method="POST">
                {{ eventform.hidden_tag() }}
                <p>
                    {{ eventform.title.label }}<br>
                    {{ eventform.title }}
                    {% for error in eventform.title.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ eventform.description.label }}<br>
                    {{ eventform.description }}
                    {% for error in eventform.description.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ eventform.day.label }}<br>
                    {{ eventform.day }}
                    {% for error in eventform.day.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ eventform.start_time.label }}<br>
                    {{ eventform.start_time }}
                    {% for error in eventform.start_time.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ eventform.end_time.label }}<br>
                    {{ eventform.end_time }}
                    {% for error in eventform.end_time.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ eventform.location.label }}<br>
                    {{ eventform.location }}
                    {% for error in eventform.location.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ eventform.submit() }}</p>
            </form>
        </div>

        <div class="section">
            <h2>Add Content</h2>
            <form action="{{ url_for('add_content') }}" method="POST">
                {{ contentform.hidden_tag() }}
                <p>
                    {{ contentform.title.label }}<br>
                    {{ contentform.title }}
                    {% for error in contentform.title.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ contentform.description.label }}<br>
                    {{ contentform.description }}
                    {% for error in contentform.description.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ contentform.url.label }}<br>
                    {{ contentform.url }}
                    {% for error in contentform.url.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>{{ contentform.submit() }}</p>
            </form>
        </div>

        <div class="section">
            <h2>Add Workout</h2>
            <form action="{{ url_for('add_workout') }}" method="POST">
                {{ workoutform.hidden_tag() }}
                <p>
                    {{ workoutform.activity_name.label }}<br>
                    {{ workoutform.activity_name }}
                    {% for error in workoutform.activity_name.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ workoutform.activity_location.label }}<br>
                    {{ workoutform.activity_location }}
                    {% for error in workoutform.activity_location.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ workoutform.duration_minutes.label }}<br>
                    {{ workoutform.duration_minutes }}
                    {% for error in workoutform.duration_minutes.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ workoutform.distance_number.label }}<br>
                    {{ workoutform.distance_number }}
                    {% for error in workoutform.distance_number.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ workoutform.distance_units.label }}<br>
                    {{ workoutform.distance_units }}
                    {% for error in workoutform.distance_units.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ personform.submit() }}</p>
            </form>
        </div>
        
    </div>
    <div class="homepage-main">
        <h2>To Do List</h2>
        {% if tasks %}
        <hr>
        <table class="formatted-table">
            <thead>
                <tr>
                    <th>Date Added</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Completed</th>
                    <th>Delete</th>
                </tr>
            </thead>
            {% for task in tasks %}
            <tr>
                <td>{{ task.timestamp.strftime('%m/%d').lstrip('0').replace('/0', '/') }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>
                    <form action="{{ url_for('update_task', task_id=task.id) }}" method="POST">
                        <button type="submit">{{ "✔" if task.completed else "___" }}</button>
                    </form>
                </td>
                <td><a href="{{ url_for('delete_task', task_id=task.id) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>    
        
        {% endif %}

    </div>
    <div class="homepage-right">
        <h2>Right Side</h2>
        {% for post in posts %}
            <p>{{ post.title }}: {{ post.body }}</p>
        {% endfor %}
    </div>
</div>


{% endblock %}