{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tags.css') }}">
{% endblock %}
{% block content %}


<h1>Tags Overview</h1>
    
    {% if tags %}
    <table>
        <thead>
            <tr>
                <th>Tag Name</th>
                <th>Posts</th>
                <th>Events</th>
                <th>Tasks</th>
                <th>Contents</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
            <tr>
                <td><a href="{{ url_for('tag', tag_id=tag.id) }}">{{ tag.name }}</a></td>
                <td>{{ tag.posts|length if tag.posts|length > 0 else "" }}</td>
                <td>{{ tag.events|length if tag.events|length > 0 else "" }}</td>
                <td>{{ tag.tasks|length if tag.tasks|length > 0 else "" }}</td>
                <td>{{ tag.contents|length if tag.contents|length > 0 else "" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}